
body{
    align:center;
}

table{
    border-collapse:collapse;
    width:80%;
    height:50%;
    margin:auto;
    align:center;
}
table,tr,td{
    border:1px solid black;
}
td{
    text-align:center;
    vertical-align:center;
    text-color:white;
    font-size:25;
}
.first_tr{
    background-color:black;
    color:white;
}
.odd_tr{
    background-color:rgb(238,238,238);
    color:black;
}
.even_tr{
    background-color:white;
    color:black;
}

